.list-container {
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0 8px 4px rgb(0, 0, 0, 0.2);
}

.contacts-table {
    width: 100%;
}

.contacts-table td {
    padding: 0 1rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
