.search-bar {
    padding: 0.5rem 0.675rem;
    margin: 1rem 0;
}

.search-input {
    padding: 0.5rem 0.675rem;
    box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    transition: all 0.3s;
    text-align: center;
    width: 30rem;
    transition: all 0.3s;
}

.search-input:focus {
    border: 1px solid black;
    outline: none;
}
